<footer class="footer bg-dark text-white py-4">
  <div class="container-fluid px-4 px-md-5">
    <div class="row g-4">
      <!-- Thông Tin Liên Hệ - Mobile First -->
      <div class="col-12 col-md-4 col-lg-4">
        <h5 class="mb-3" style="color: #d0a473">Thông Tin Liên Hệ</h5>
        <div class="contact-info">
          <p class="d-flex d-sm-block align-items-center">
            <i class="bi bi-geo-alt-fill me-2"></i>
            <span>669 QL1A, Khu phố 6, Thủ Đức, Tp. Hồ Chí Minh</span>
          </p>
          <p class="d-flex d-sm-block align-items-center">
            <i class="bi bi-telephone-fill me-2"></i>
            <span>0766338189</span>
          </p>
          <p class="d-flex d-sm-block align-items-center">
            <i class="bi bi-envelope-fill me-2"></i>
            <span>tinhmocviet@gmail.com</span>
          </p>
          <img
            src="./assets/images/bocongthuong.png"
            alt="Đã thông báo"
            class="img-fluid mt-3"
            style="max-width: 150px"
          />
        </div>
      </div>

      <!-- Sitemap - Mobile First -->
      <div class="col-12 col-md-4 col-lg-4">
        <h5 class="mb-3" style="color: #d0a473">Sitemap</h5>
        <div class="d-flex flex-column">
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a href="#/gioi-thieu" class="text-white text-decoration-none">Giới Thiệu</a>
            </li>
            <li class="mb-2">
              <a href="#/san-pham" class="text-white text-decoration-none">Sản Phẩm</a>
            </li>
            <li class="mb-2">
              <a href="#/tin-tuc" class="text-white text-decoration-none">Tin Tức</a>
            </li>
            <li class="mb-2">
              <a href="#/chinh-sach-bao-hanh" class="text-white text-decoration-none"
                >Chính Sách Bảo Hành Và Đổi Trả</a
              >
            </li>
            <li class="mb-2">
              <a href="#/phuong-thuc-van-chuyen" class="text-white text-decoration-none">Phương Thức Vận Chuyển</a>
            </li>
            <li class="mb-2">
              <a href="#/phuong-thuc-thanh-toan" class="text-white text-decoration-none">Phương Thức Thanh Toán</a>
            </li>
            <li class="mb-2">
                <a href="#/dieu-khoan-dieu-kien" class="text-white text-decoration-none">Điều Khoản Và Điều Kiện</a>
              </li>
              <li class="mb-2">
                <a href="#/chinh-sach-bao-mat" class="text-white text-decoration-none">Chính Sách Bảo Mật</a>
              </li>
          </ul>
        </div>
      </div>

      <!-- Kết Nối - Mobile First -->
      <div class="col-12 col-md-4 col-lg-4">
        <div class="social-media">
          <h5 class="mb-3" style="color: #d0a473">Kết Nối Với Chúng Tôi</h5>
          <div class="row g-3">
            <div class="col-12">
              <div class="facebook-page p-3 bg-secondary bg-opacity-10 rounded">
                <h6 class="text-center mb-3">Facebook Page</h6>
                <iframe
                  src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flys18.store&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                  width="100%"
                  height="150"
                  style="border: none; overflow: hidden"
                  scrolling="no"
                  frameborder="0"
                  allowfullscreen="true"
                  allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4 border-light" />

    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start mb-2 mb-md-0">
        <p class="mb-0">
          Copyright {{ currentYear }} TinhMocVietPottery.com. All right reserved.
        </p>
      </div>
      <div class="col-12 col-md-6 text-center text-md-end">
        <p class="mb-0">Website by Comma</p>
      </div>
    </div>
  </div>
</footer>
