<style>
  .cke_notifications_area {
    display: none;
  }
</style>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Danh sách bài viết</h3>
    <div class="card-tools">
      <button class="btn btn-primary" ng-click="openCreateBlogModal()">
        Thêm bài viết
      </button>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Ảnh Thumbnail</th>
          <th>Tiêu đề</th>
          <th>Tác giả</th>
          <th>Ngày tạo</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="blog in blogs">
          <td>
            <img
              ng-src="{{ blog.thumbnail }}"
              alt="Blog Thumbnail"
              width="100"
            />
          </td>
          <td>{{ blog.title }}</td>
          <td>Admin</td>
          <td>{{ blog.createdAt | date:'dd/MM/yyyy' }}</td>
          <td>
            <button
              class="btn btn-sm btn-warning"
              ng-click="openEditBlogModal(blog._id)"
            >
              Sửa
            </button>
            <button
              class="btn btn-sm btn-danger"
              ng-click="deleteBlog(blog._id)"
            >
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div id="blogModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          ng-click="closeModal()"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form ng-submit="saveBlog($event)" novalidate>
            <div class="form-group">
              <label>Ảnh Thumbnail</label>
              <input
                type="file"
                class="form-control"
                file-change="uploadImage(file)"
                accept="image/*"
              />
              <img
                ng-if="formData.thumbnail"
                ng-src="{{ formData.thumbnail }}"
                alt="Thumbnail Preview"
                style="max-width: 100px; margin-top: 10px"
              />
            </div>
            <div class="form-group">
              <label>Tiêu đề</label>
              <input
                type="text"
                class="form-control"
                ng-model="formData.title"
                required
              />
            </div>
            <div class="form-group">
              <label>Nội dung</label>
              <textarea
                id="content"
                name="content"
                ng-model="formData.content"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
